.App {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*header*/

.Header ul li{
  display: inline-block;
  text-decoration: none;
}
.Header ul li a{
  text-decoration: none;
  color: gray
}


.active {
  background-color: red;
  text-decoration: underline!important;
}

.my-custom-active-classsss {
  color: green!important;
  text-decoration: line-through!important;
}

/*cardlist*/
.CardListContainer{
  display: flex;
  /* width: 90%;*/
  padding: 10px;
  flex-wrap: wrap;
}