* {
  box-sizing: border-box;
  cursor: pointer;
}

.Homepage{
  font-family: "Irish Grover";
  display: flex;
}

.Header {
  background-image: url("../src/6799031.jpg");
  background-position: center top;
  background-size: cover;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Irish Grover";
}

.Header h1 {
  font-size: 3.4rem;
  text-transform: uppercase;
}

/*header*/

.Header ul li {
  display: inline-block;
  text-decoration: none;
}

.Header ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: darkred;
  font-family: "Irish Grover", cursive;
  padding: 0.3em 0.6em;
  border-radius: 1em;
}

.active {
  background-color: black;
  color: gray;
}

/*cardlist*/
.container {
  background: rgb(36, 40, 47);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2.5rem 0;
}

.card {
  background: rgb(60, 62, 68);
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px,
    rgb(0 0 0 / 6%) 0px 2px 4px -1px;
  display: flex;
  width: 40%;
  height: 240px;
  align-items: center;
  justify-content: left;
  border-radius: 1em;
  color: beige;
  margin-bottom: 3rem;
}

.img {
  width: 40%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1em 0 0 1em;
}


.info {
  margin-left: 0.8rem;
  font-size: 1.2rem;
  width: 50%;

}

.info span{
  font-style: italic;
  font-size: 1.1rem;
}
